{% extends 'index.html' %}
{% block content %}
<div class="container rounded" style="margin-top: 30px; padding: 20px; width: 900px; background-color: rgb(233, 233, 233);">
    <h4 class="text-left" style="margin-bottom: 20px;">1. Wygeneruj spójny losowy graf z wagami</h4>
    <small class="form-text text-muted" style="margin-left: 7px;">
        W tym zestawie używamy indeksowania od 1
      </small>
    <form>
        <button type="button" onclick="randomWeighted()" class="btn btn-primary" style="margin-top: 10px;">Submit</button>
        <div class="form-group" id="exceptionContainer">
        </div>
    </form>
</div> 

<div class="container rounded" style="margin-top: 20px; padding: 20px; width: 900px; background-color: rgb(233, 233, 233);">
    <h4 class="text-left" style="margin-bottom: 20px;">Wykres grafu</h4>
    <img alt="Graph" style="width: 700px; height: 600px;" id="graphImage">
</div>

<div class="container rounded" style="margin-top: 30px; padding: 20px; width: 900px; background-color: rgb(233, 233, 233);">
    <h4 class="text-left" style="margin-bottom: 20px;">2. Algorytm Dijkstry</h4>
    <form>
        <div class="form-group" style="margin-top: 10px;">
            <label for="vertexIdx" style="margin-left: 7px;">Wprowadź numer wierzchołku</label>
            <input type="text" id="vertexIdx" class="form-control form-control-sm" style="width: 140px;">
        </div>
        <label for="dijkstraResult" style="margin-left: 7px; margin-top: 10px;">Wynik algorytmu</label>
        <textarea class="form-control" id="dijkstraResult" rows="6" readonly></textarea>
        <button type="button" onclick="processDijkstra()" class="btn btn-primary" style="margin-top: 10px;">Submit</button>
        <div class="form-group" id="dijkstraExceptionContainer">
        </div>
    </form>
</div>

<div class="container rounded" style="margin-top: 30px; padding: 20px; width: 900px; background-color: rgb(233, 233, 233);">
    <h4 class="text-left" style="margin-bottom: 20px;">3. Macierz odległości miedzy parami wierzchołków</h4>
    <form>
        <label for="distMatrix" style="margin-left: 7px; margin-top: 10px;">Wynik</label>
        <textarea class="form-control" id="distMatrix" rows="6" readonly></textarea>
    </form>
</div>

<div class="container rounded" style="margin-top: 30px; padding: 20px; width: 900px; background-color: rgb(233, 233, 233);">
    <h4 class="text-left" style="margin-bottom: 20px;">4. Centrum grafu oraz centrum minmax</h4>
    <form>
        <label style="margin-left: 7px; margin-top: 10px;">Wynik</label>
        <input type="text" id="centerAndMinmax" class="form-control form-control-sm" style="width: 270px;" readonly>
    </form>
</div>

<div class="container rounded" style="margin-top: 20px; padding: 20px; width: 900px; background-color: rgb(233, 233, 233);">
    <h4 class="text-left" style="margin-bottom: 20px;">5. Wykres minimalnego drzewa rozpinającego</h4>
    <img alt="Tree" style="width: 700px; height: 600px;" id="mstImage">
</div>

<script src="{{ url_for('static', filename='zestaw3.js') }}"></script>
{% endblock %}