{% extends 'index.html' %}
{% block content %}
<!-- HOMEPAGE -->
<div class="container rounded" style="margin-top: 30px; padding: 20px; width: 900px; background-color: rgb(233, 233, 233);">
    <h1 class="text-center">Zespół 1, Grafy i ich zastosowania</h1>
    <p class="text-" style="margin-top: 20px;">Witaj na stronie <b>zespołu 1</b>! Znajdziesz tutaj zestawy zadań związanych z grafami i ich zastosowaniami.</p>
    <p class="text-center">Wybierz zestaw zadań z menu nawigacyjnego, aby rozpocząć pracę.</p>
    <p class="text-center">Uczestnicy zespołu: Marcin Kiżewski, Adam Niewczas, Glib Avrutin, Maciek Witkowski i Kasia</p>
</div>
{% endblock %}
