{% extends 'index.html' %}
{% block content %}
<div class="container rounded" style="margin-top: 30px; padding: 20px; width: 900px; background-color: rgb(233, 233, 233);">
    <h4 class="text-left" style="margin-bottom: 20px;">Wygeneruj sieć przepływową z N warstwami.</h4>
    <form>
        <label for="layerInput" style="margin-left: 7px;">Wprowadź liczbę warstw (N):</label>
        <input type="text" id="layerInput" class="form-control form-control-sm">
        <button type="button" onclick="processNetwork()" class="btn btn-primary" style="margin-top: 10px;">Submit</button>
        <div class="form-group" id="exceptionContainer">
        </div>
    </form>
</div> 

<div class="container rounded" style="margin-top: 30px; padding: 20px; width: 900px; background-color: rgb(233, 233, 233);">
    <h4 class="text-left" style="margin-bottom: 20px;">Maksymalny przepływ:</h4>
    <form>
        <label style="margin-left: 7px; margin-top: 10px;">Wynik</label>
        <input type="text" id="maxFlow" class="form-control form-control-sm" style="width: 270px;" readonly>
    </form>
</div> 

<div class="container rounded" style="margin-top: 20px; padding: 20px; width: 900px; background-color: rgb(233, 233, 233);">
    <h4 class="text-left" style="margin-bottom: 20px;">Wykres grafu (warstwy)</h4>
    <img alt="Graph" style="width: 700px; height: 600px;" id="graphLayeredImage">
    <h4 class="text-left" style="margin-top: 30px; margin-bottom: 20px;">Wykres grafu (circular)</h4>
    <img alt="Graph" style="width: 800px; height: 600px;" id="graphCircularImage">
</div>


<script src="{{ url_for('static', filename='zestaw5.js') }}"></script>
{% endblock %}